<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left clr-black-light1">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Time you enjoy wasting, was not wasted.</h5>
                <p>Live the Life of Your Dreams: Be brave enough to live the life of your dreams according to your vision and
                    purpose instead of the expectations and opinions of others.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/sitemap.xml">SiteMap</a>
                    </li>
                    <li>
                        <a href="/feed.xml">RSS</a>
                    </li>
                    <li>
                        <a href="/tag/">Tags</a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center clr-black">
        © 2018 Copyright:
        <a href="{{site.url}}"> {{site.author | capitalize }} </a>
    </div>
    <!--/.Copyright-->

</footer>