<h2 class="text-center mt-2">Latest Articles</h2>
<ul class="list-unstyled">
    {% for post in site.posts limit:5 %}
    <li class="media my-4 row">
        <img class="mr-3 img-thumbnail col-5" src="{{post.images.url | default:'/assets/images/noimage.jpg'}}" alt="{{post.images.alt | default:'no image'}}">
        <div class="media-body col-7">
            <a href="{{post.url}}">
                <h6 class="mt-0 mb-1">{{post.title}}</h6>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>