<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify"
    method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=alpgul', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <p>Enter your email address:</p>
    <input type="hidden" value="alpgul" name="uri" />
    <input type="hidden" name="loc" value="en_US" />
    <div class="form-group">
        <div class="input-group">
            <input name="email" type=" email " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp
                " placeholder="Enter email ">
            <span class="input-group-btn ">
                <button class="btn btn-theme btn-outline-primary " type="submit ">Subscribe</button>
            </span>
        </div>
        <small id="emailHelp " class="form-text text-muted ">We'll never share your email with anyone else.</small>
    </div>
</form>